<html>
<head>

</head>
<body>
<H1>Stock price for the past year</H1>

<h4>
	Enter the stock you would like to visualize:
  </h4>
  <form id='userinfoform_lulu' method='post' action='next_lulu' >
	<p>
  	Stock: <input type='text' name='stock_name'/>
	</p>
	<p>
			<input type="radio" name="gender" value="Open" checked> Open price<br>
			<input type="radio" name="gender" value="Close"> Close price <br>
			<input type="radio" name="gender" value="High"> High price <br>
			<input type="radio" name="gender" value="Low"> Low price<br>
			<input type="radio" name="gender" value="Volume"> Volume <br>
			<br>
		<input type='submit' value='Submit'/>
	  </p>
  </form>
</body>
</html>